Repository steeef/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, deadnix, statix, yamlfmt

.pre-commit-config.yaml:

repos:
  # --- General hygiene ---
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.(patch|diff)$'
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: '\.(patch|diff)$'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-json
        exclude: '^(vim/bundle/|TRASH/)'
      - id: check-yaml
        exclude: '^(vim/bundle/|TRASH/|beets/)'
        args: [--allow-multiple-documents]

  # --- Nix ---
  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        files: '\.nix$'
        exclude: '^(vim/bundle/|TRASH/|result/)'
      - id: deadnix
        name: deadnix
        entry: deadnix --edit
        language: system
        files: '\.nix$'
        exclude: '^(vim/bundle/|TRASH/|result/)'
      - id: statix
        name: statix
        entry: statix check
        language: system
        files: '\.nix$'
        exclude: '^(vim/bundle/|TRASH/|result/)'
        pass_filenames: false

  # --- Shell (shellcheck via official repo) ---
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        exclude: '^(vim/bundle/|tmux/plugins/|TRASH/)'
        types: [bash]

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -ci -w
        language: system
        types: [bash]
        exclude: '^(vim/bundle/|tmux/plugins/|TRASH/)'

  # --- YAML ---
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]
        exclude: '^(vim/bundle/|TRASH/|beets/)'

  # --- Markdown ---
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.35
    hooks:
      - id: pymarkdown
        exclude: '^(vim/bundle/|TRASH/)'

  # --- Lua ---
  - repo: local
    hooks:
      - id: stylua
        name: stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^(vim/bundle/|TRASH/)'

update claude
  flake.lock
Due: none

parallel convergent review via sub-agents
  nix/home/claude/memory.md
  nix/home/claude/skills/convergent_review/SKILL.md
Due: none

convergent review: codex review fixes
  nix/home/claude/skills/convergent_review/SKILL.md
Due: none

hyphenate skill names, enforce prek over pre-commit
  nix/home/claude/memory.md
  nix/home/claude/settings.json
  nix/home/claude/skills/convergent-review/SKILL.md
  nix/home/claude/skills/iterate-plan/SKILL.md
  nix/home/claude/skills/research-codebase/SKILL.md
  nix/home/claude/skills/test-driven-development/SKILL.md
  nix/home/claude/skills/validate-plan/SKILL.md
  nix/home/claude/skills/verification-before-completion/SKILL.md
Due: none

remove convergent-review skill
  nix/home/claude/skills/convergent-review/SKILL.md
Due: none

add deadnix, shfmt, statix to packages
  nix/home/default.nix
Due: alejandra, deadnix, statix

re-enable pymarkdown md031/md040, fix violations
  .pymarkdown
  README.md
  docs/claude-code-migration.md
  docs/fish-shell-migration-plan-review.md
  docs/opencode-migration-plan.md
  nix/home/claude/skills/humanizer/SKILL.md
  nix/home/claude/skills/iterate-plan/SKILL.md
  nix/home/claude/skills/research-codebase/SKILL.md
  nix/home/claude/skills/validate-plan/SKILL.md
  nix/home/claude/skills/verification-before-completion/SKILL.md
Due: none

agent doc updates
  AGENTS.md
  nix/home/claude/memory.md
Due: none

add fnm
  nix/home/default.nix
Due: alejandra, deadnix, statix

use global exclude
  .pre-commit-config.yaml
Due: yamlfmt

use shellcheck-py
  .pre-commit-config.yaml
Due: yamlfmt

disable annoyances
  nix/home/claude/settings.json
Due: none

update yamlfmt
  nix/home/yamlfmt-preserve-backslash.nix
Due: alejandra, deadnix, statix

add reflect skill
  nix/home/claude/skills/reflect/SKILL.md
Due: none

add notes
  AGENTS.md
Due: none

flake update
  flake.lock
Due: none

update flakes
  flake.lock
Due: none

use bun instead of deno for yt-dlp
  nix/home/default.nix
  nix/pkgs/default.nix
Due: alejandra, deadnix, statix

ignore handoffs
  .gitignore
Due: none

add plugin
  nix/home/claude/settings.json
Due: none

disable slack updates
  nix/darwin/default.nix
Due: alejandra, deadnix, statix

use jira skill
  nix/home/claude/memory.md
Due: none

fix tests
  nix/pkgs/default.nix
Due: alejandra, deadnix, statix

update yt-dlp
  nix/pkgs/default.nix
Due: alejandra, deadnix, statix

add btop themes
  btop/themes/catppuccin_frappe.theme
  btop/themes/catppuccin_latte.theme
  btop/themes/catppuccin_macchiato.theme
  btop/themes/catppuccin_mocha.theme
Due: none

add btop
  btop/btop.conf
  nix/home/symlinks.nix
Due: alejandra, deadnix, statix

remove btop
  btop/btop.conf
  nix/home/symlinks.nix
Due: alejandra, deadnix, statix

manage btop via programs.btop
  nix/home/btop/catppuccin_frappe.theme
  nix/home/btop/catppuccin_latte.theme
  nix/home/btop/catppuccin_macchiato.theme
  nix/home/btop/catppuccin_mocha.theme
  nix/home/btop/default.nix
  nix/home/default.nix
Due: alejandra, deadnix, statix

update
  flake.lock
Due: none

fix tests failures
  nix/pkgs/default.nix
Due: alejandra, deadnix, statix

use claude worktrees, add agents
  bin/worktree-setup.sh
  nix/home/claude/agents/batch-reader.md
  nix/home/claude/agents/budgeted-explore.md
  nix/home/claude/default.nix
  nix/home/claude/memory.md
  nix/home/claude/settings.json
Due: alejandra, deadnix, statix

update worktree setup
  bin/worktree-setup.sh
  nix/home/claude/memory.md
Due: none

remove worktree script
  bin/worktree-setup.sh
  nix/home/claude/memory.md
  nix/home/claude/settings.json
Due: none
