Repository steeef/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, deadnix, statix, yamlfmt

alejandra:
  name: alejandra
  entry: alejandra
  language: system

deadnix:
  name: deadnix
  entry: deadnix --edit
  language: system

statix:
  name: statix
  entry: statix check
  language: system
  pass_filenames: false

yamlfmt:
  name: yamlfmt
  entry: yamlfmt
  language: system

ignore all claude flags
  nix/home/git/gitignore
Due: none

make claude settings.json mutable
  nix/home/claude/default.nix
Due: alejandra, deadnix, statix

remove global plugin
  nix/home/claude/settings.json
Due: none

fix
  nix/home/claude/settings.json
Due: none

disable yamlfmt use for now
  bin/format.sh
Due: none

replace yamlfmt with yamllint via uvx
  .pre-commit-config.yaml
  bin/format.sh
  nix/home/claude/default.nix
  nix/home/default.nix
  nix/home/symlinks.nix
  nix/home/yamlfmt-preserve-backslash.nix
  yamlfmt.yaml
  yamllint.yaml
Due: alejandra, deadnix, statix, yamlfmt

replace yamlfmt with yamllint via uvx
  bin/format.sh
  nix/home/default.nix
  nix/home/symlinks.nix
  nix/home/yamlfmt-preserve-backslash.nix
  yamlfmt.yaml
  yamllint.yaml
Due: alejandra, deadnix, statix, yamlfmt

update claude
  flake.lock
Due: none

print warnings without erroring
  bin/format.sh
Due: none

update codex
  flake.lock
Due: none

config codex with gpt-5.3
  nix/home/codex.nix
Due: alejandra, deadnix, statix

remove decision docs note
  nix/home/claude/memory.md
Due: none

search across sessions too
  nix/home/claude/skills/reflect/SKILL.md
Due: none

add fnm note
  nix/home/claude/memory.md
Due: none

update wording
  nix/home/claude/memory.md
Due: none

add asciinema
  nix/darwin/default.nix
Due: alejandra, deadnix, statix

add git setting
  nix/home/claude/settings.json
Due: none

add rate limit statusline script
  nix/home/claude/default.nix
  nix/home/claude/settings.json
  nix/home/claude/statusline.sh
Due: alejandra, deadnix, statix

statusline: two-line layout with bars
  nix/home/claude/statusline.sh
Due: none

statusline: catppuccin macchiato colors
  nix/home/claude/statusline.sh
Due: none

remove claude-powerline
  nix/home/claude/claude-powerline.json
  nix/home/claude/default.nix
  nix/pkgs/claude-powerline.nix
  nix/pkgs/default.nix
Due: alejandra, deadnix, statix

fix nerd-fonts
  nix/nixos/configuration.nix
Due: alejandra, deadnix, statix

remove effort from statusline
  nix/home/claude/statusline.sh
Due: none

simplify worktree instructions
  nix/home/claude/memory.md
Due: none

clarify contributing
  nix/home/claude/memory.md
Due: none

add git root to statusline
  nix/home/claude/statusline.sh
Due: none

fix git root in statusline for worktrees
  nix/home/claude/statusline.sh
Due: none

remove
  nix/home/claude/memory.md
Due: none

skip yamllint for nunjucks template files
  bin/format.sh
Due: none

add worktree resume instructions
  nix/home/claude/memory.md
Due: none

add blocked state and 7d usage to statusline
  nix/home/claude/statusline.sh
Due: none

Path conditions:
  alejandra: any of: \.nix$, but not: ^(vim/bundle/|TRASH/|result/)
  deadnix: any of: \.nix$, but not: ^(vim/bundle/|TRASH/|result/)
  statix: any of: \.nix$, but not: ^(vim/bundle/|TRASH/|result/)
  yamlfmt: any of: \.(yaml|yml)$, but not: ^(vim/bundle/|TRASH/|beets/)
